name: Publish

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: tag packages and push tags
        run: npx changeset tag
      - name: tag debug
        run: git tag
      - name: push tags
        run: git push --follow-tags

        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
